@model IEnumerable<EndoRiskWeb.Models.IndexViewModel>
<!--
    Documentation: Samuel Feliciano
    First Try: using endoquestion Model:
        No way to access the choices for the questions
    Second Try: try creating multiple models in the view
        Dificult to access data required
    Third Try: create new Model : Questions
        Containts Questions and Choices
    Fourth Try: Edit select 
        (wasn't returning the proper values)
-->
@{
    ViewBag.Title = "Endometriosis Risk Calculator";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
@{int counter = 0;}
<!-- Start the form (POST) to use in the Risk Method-->
@using (Html.BeginForm("Risk", "Home", FormMethod.Post, new { @name = "userAnswersForm" }))
{
    @Html.AntiForgeryToken()
    
   <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <!--
                Goes through every item in the Model : questions
                question includes: ID, Question, Abbreviation, Choices Set Name, and the List of Choices
            -->
            <label><strong>Nota: El resultado que obtendrá mediante este examen es un diagnóstico preliminar por lo que no es 100% preciso.
                             Para obtener un diagnóstico completo y totalmente preciso, por favor <u>visite a su médico primario</u>.
                             Marque la casilla de "Acepto los términos y condiciones", en la parte posterior derecha a este mensaje
                             para asegurar que usted ha sido informado y entiende lo establecido anteriormente. De no marcar el siguiente recuadro
                             NO PODRA RECIBIR LOS RESULTADOS DEL EXAMEN. Gracias por su cooperación y por utilizar EndoRisk.</strong></label>

            <label class="accept_terms"><strong><input id="showChecked" type="checkbox" name="enable_test" value="" class="accept_terms" required/>Acepto los términos y condiciones</strong> </label>

            <p class="inicio_preguntas">Por favor complete los siguientes campos: </p>
            <p class="campo_requerido">* - Campo requerido</p>
            <p class="PID_number" style="font-size:medium">Si posee algún número de paciente, escribálo en este campo. De lo contrario deje este campo vacío. </p><input type="text" name="PID" value=""/>
           
            @foreach (var questionItem in Model.FirstOrDefault().quest)
            {
                <!--Displays the question -->
            <p style="font-size:medium">@questionItem.question</p>
                @*<input type="text" name="@questionItem.question" value=" " required />*@ <!--Displays the question -->

            <div class="col-md-10">
                <!--Check if the set is empty-->
                @if (questionItem.set.Equals(""))
                {
                    @*<input id="@counter"type="text" name="@questionItem.abbr" value="" class="required"/>*@
                    <label class="campo_requerido" style="font-size:medium"><input id="question' + counter + '" type="text" name="@questionItem.abbr" value="" required />*</label>

                }

                else
                {
                                <!--Display the choices for the question in a select-->
                                <!-- Value will be the selected choice = element(i)-->
            <label class="campo_requerido">
                <select name="@questionItem.abbr" required>
                    <option selected></option>

                    @foreach (var choiceIndex in questionItem.choices)
                    {
                        <option value="@choiceIndex">@choiceIndex</option>
                    }

                </select>
            *</label>
                }
                @{counter++;}
            </div>
            }

            @*<p>Mark the symptoms you have been feeling: </p><input type="text" name="PID" value="" />*@
            @foreach (var symptomItem in Model.FirstOrDefault().symp)
            {
                <!--Displays the question -->
                <p style="font-size:medium"><input id="showChecked" type="checkbox" name="symp" value="@symptomItem.abbr" />@symptomItem.symptom1</p> <!--Displays the question -->
               
            }
         </div>

        <!-- Submit button for the form -> Value : Risk (calls ActionResult Risk() in Home Controller)-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="submitted" type="submit" value="Someter" class="btn btn-default" @*disabled="disabled"*@/>
                        @*<button type="button" onclick="myFunction()">Test Input</button>*@
                        <p id="message"></p>
                            @*{ new background:green; }*@  
                        @*//<input id="demo" type="number" min="5" max="10" step="1">*@
                    </div>
                </div>
            </div>
}

            @section Scripts 
            {
                @Scripts.Render("~/bundles/jqueryval")

                @*<script type="text/javascript">
                    var $submit = $("input[type=submit]");
                    $submit.on('click',function () {
                        var $checkboxstatus = $("input[type=checkbox]");
                        //$checkboxstatus.change(function () {
                            if ($checkboxstatus.prop("checked")) {
                                alert("Bien."); //checked
                            }
                            else {
                                alert("Seleccione al menos un síntoma. Si no padece de ninguno de los anteriores, por favor marque 'Otros Síntomas'."); //not checked
                            }
                        //});
                    });
                    //$(document).ready(function () 
                    //{
                    //    var $submit = $("input[type=submit]");
                    //    var $checkbox = $("input[type=checkbox]");
                    //    var $inputs = $("input[class=required]");
                    //    var message, x;
                    //    message = document.getElementById("message");

                    //    var valid = false;
                    //    for (var i = 0; i < $checkbox.length; i++)
                    //    {
                    //        if ($checkbox[i].value())
                    //        {
                    //            valid = true;
                    //        }
                    //    }

                    //    function checkEmpty()
                    //    {
                    //        return $inputs.filter(function() {
                    //            return !$.trim(this.value);
                    //        }).length === 0;
                    //    }

                    //    $inputs.on('blur', function ()
                    //    {
                    //        $submit.prop("disabled", !checkEmpty());
                    //    }).blur();
                    //});

                    //function test()
                    //{
                    //    var $checkbox = $("input[type=checkbox]");
                        
                    //    var valid = false;
                    //    for (var i = 0; i < $checkbox.length; i++)
                    //    {
                    //        if ($checkbox[i].value())
                    //        {
                    //            valid = true;
                    //        }
                    //    }

                    //    if (!valid)
                    //    {
                    //        alert('* Por favor llene todos los campos requeridos');
                    //    }

                    //    else {
                    //        alert('* Por favor llene todos los campos requeridos');
                    //    }
                    //}
                    //var $submit = $("input[type=submit]");
                    //$submit.on('click', function () {
                    //    var $checkbox = $("input[type=checkbox]");
                    //    var $inputtext = $("input[class = required]");

                    //    var inputCount = 0;
                    //    var valid = false;

                    //    for (var i = 0; i < $checkbox.length; i++) {
                    //        var val = $checkbox[i].checked;
                    //        if (val == true) {
                    //            valid = true;
                    //        }
                    //    }

                    //    for (var i = 0; i < $inputtext.length; i++) {
                    //        var v = $inputtext[i].value;
                    //        if ($inputtext[i].value != '') {
                    //            inputCount++;
                    //        }

                    //    }

                    //    if (!valid || inputCount == 0) {
                    //        alert('* Por favor llene todos los campos requeridos');
                    //    }

                    //    else {
                    //        alert('* Por favor llene todos los campos requeridos');
                    //    }
                    //});

               </script>*@

                <style type="text/css">
                    label.accept_terms {
                        display: block;
                        padding-left: 15px;
                        text-indent: -15px;
                        float:right;
                        bottom: -10px
                    }

                    input.accept_terms {
                        width: 13px;
                        height: 17px;
                        padding: 0;
                        margin: 0;
                        vertical-align: bottom;
                        position: center;
                        top: -1px;
                        *overflow: hidden;
                        text-align:right; 
                        margin-right:7px;
                        float:none;
                        bottom: -10px
                    }

                    p.inicio_preguntas 
                    {   
                        font-size: 16px;
                        font-weight:700;                     
                        position: relative;
                        bottom: -10px;  
                        /*line-height: 50px;*/                     
                    }

                     .campo_requerido
                    {   
                        color:red;
                        font-weight:900;
                        font-size: 12px;                     
                        top: 300px;                    
                    }
                </style>


            }
                    


