@model EndoRiskWeb.Models.patient

@{
    ViewBag.Title = "Result Page";
}

<div class="content-wrapper">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

        <p> The quiz number is: @Model.idQuiz</p>
        <p> Your patient ID is: @Model.idPatient </p>
        <p> Your lifetime risk is: @Model.risk</p>
        <p> Time of the quiz is: @Model.time</p>
        <p> Quiz verified?: @Model.verified</p>
    
</div>


<div>
    @Html.ActionLink("Return Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}