@model EndoRiskWeb.Models.patient
<!--Documentation: Samuel
    Temporary Testing View for the Risk View();
    Try1: Using Patient Model : Shows Results
    -->
@{
    ViewBag.Title = "Resultados";
}

<div class="content-wrapper">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
        <!--View patients result: Quiz, ID, Risk, Time and Verified-->
        <p> Número de Examen: @Model.idQuiz</p>
        <p> ID de paciente: @Model.idPatient</p>
        <p> Riesgo: @ViewBag.RiskPercent%</p>
        <p> Nivel de Severidad : @ViewBag.SeverityPercent%</p>
        <p> Hora al tomar el examen: @Model.time</p>
        <p> Examen Verificado?: @Model.verified</p>
</div>


<div>
    @Html.ActionLink("Regresar a página de inicio", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}