@model EndoRiskWeb.Models.endochoice

@{
    ViewBag.Title = "Delete";
}

<h2 class="center">Eliminar elemento del Set</h2>

<h3 class="center">¿Seguro que desea borrar el elemento del Set?</h3>
<br />
<div class="detailWrap">
    
    <dl class="dl-horizontal">
        <dt >
            @Html.DisplayNameFor(model => model.choiceSet) : @Html.DisplayFor(model => model.choiceSet)
        </dt>

        @*<dd >
        @Html.DisplayFor(model => model.choiceSet)
    </dd>*@

        <dt >
            @Html.DisplayNameFor(model => model.choiceOption) 
        </dt>

        <dd >
            @Html.DisplayFor(model => model.choiceOption)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="center">
            <input type="submit" value="Eliminar Elemento" class="btn btn-default" />
            </div>
        </div>
        <br />
        <div class="center">
            @Html.ActionLink("Volver a la lista de Sets ", "Index", "endochoices")
        </div>
    }
</div>
