@model IEnumerable<EndoRiskWeb.Models.endochoice>

@{
    ViewBag.Title = "Index";
}

<h2 class="center">Set de Respuestas</h2>
<div class="endoWrap">
    <h3 class="center">
        @Html.ActionLink("Añadir un nuevo elemento", "Create", "endochoices")
    </h3>
    <br />
    <table class="tableP">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.choiceSet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.choiceOption)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.choiceSet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.choiceOption)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idChoice }) | 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idChoice })
                </td>
            </tr>
        }

    </table>

</div>
