<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Endorisk </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div class="content-wrapper">

            <div class="float-left">
                <p class="site-title"> <img src="~/Images/MujerEndo.png" width="85" height="140" />@Html.ActionLink("Endorisk", "EndoriskQuestions", "EndoriskCalculator")</p>
            </div>

            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>

                <nav>
                    <ul id="menu">
                        
                        <li>@Html.ActionLink("Endorisk", "EndoriskQuestions", "EndoriskCalculator")</li>
                        <li>@Html.ActionLink("Acerca de Endorisk", "About", "Home")</li>
                        <li>@Html.ActionLink("Endometriosis", "EndoInfo", "Home")</li>
                    </ul>
                </nav>
            </div>

            <!--
            <div class="float-right">
                <section>
                    <p class="site-title">
                        <img src="~/Images/Logo UPR sin color.png" width="70" height="70" />
                        <img src="~/Images/Logo ININ.jpg" width="70" height="70" />
                        <img src="~/Images/ponce logo2.jpg" width="70" height="70" />
                    </p>
                </section>
            </div>
            -->

        </div>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Endorisk - By Instant Health Solutions</p>
            </div>
            <div class="float-right">
                @Html.ActionLink("Contactar Administrador", "SendComment", "Comments")
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
