@model IEnumerable<EndoRiskWeb.Models.SearchResult>

@{
    ViewBag.Title = "Index";

}

<h2>Pacientes</h2>

<p>
    @Html.ActionLink("Add an Administrator", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idQuiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paciente)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idQuiz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.riesgo)
            </td>
        
        </tr>
    }

</table>
