@model EndoRiskWeb.Models.symptom

@{
    ViewBag.Title = "Delete";
}

<h2 class="center">Eliminar Síntoma</h2>

<h3 class="center">¿Seguro que desea eliminar este síntoma?</h3>
<br />
<div class="detailWrap">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.symptom1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symptom1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abbr)
        </dd>
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="center">
                <input type="submit" value="Eliminar Síntoma" class="btn btn-default" />
            </div>       
        </div>
        <br />
    <div class="center">
        @Html.ActionLink("Volver a la lista de Síntomas", "Index","symptoms")
    </div>
    }
</div>
