@model IEnumerable<EndoRiskWeb.Models.symptom>

@{
    ViewBag.Title = "Index";
}

<h2 class="center">Síntomas de Endometriosis</h2>
<div class="endoWrap">
<h3 class="center">
    @Html.ActionLink("Añadir Nuevo Síntoma de Endometriosis", "Create", "symptoms")
</h3>
    <br />
<table class="tableP">
    <tr>
    
        <th>
            @Html.DisplayNameFor(model => model.symptom1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abbr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.symptom1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abbr)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.idSymptom  }) |
           
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.idSymptom  })
        </td>
    </tr>
}

</table>
    </div>
