
<!--Documentation: Samuel
    Temporary Testing View for the Risk View();
    Try1: Using Patient Model : Shows Results
    -->
@{
    ViewBag.Title = "Resultados de la Busqueda";
}

<div class="content-wrapper">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <!--View patients result: Quiz, ID, Risk, Time and Verified-->
    <p> Age: @ViewBag.Age</p>
    <p> Eth: @ViewBag.Eth</p>
    <p> Ver: @ViewBag.Ver</p>
    <p> Ltr: @ViewBag.Ltr</p>
    <p> Sev: @ViewBag.Sev</p>
    
   
</div>


<div>
    @Html.ActionLink("Regresar a página de inicio","Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
