@model IEnumerable<EndoRiskWeb.Models.IndexViewModel>
<!--
    Documentation: Samuel Feliciano
-->
@{
    ViewBag.Title = "Calculadora de Riesgo de Endometriosis";

}

@section featured {

    <div>
        <hgroup>
            <h2 class="center">@ViewBag.Title.</h2>
        </hgroup>
    </div>

}
@{int counter = 0;}


<div class="questionWrap">
    <!-- Start the form (POST) to use in the Risk Method-->
    @using (Html.BeginForm("EndoriskResult", "EndoriskCalculator", FormMethod.Post, new { @id = "userAnswersForm", @name = "userAnswersForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" id="userAnswerForm">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <!--
                Goes through every item in the Model : questions
                question includes: ID, Question, Abbreviation, Choices Set Name, and the List of Choices
                -->

                <p style="font-size:large;font-weight:bold; color:#2e4f4f">
                    Nota: El resultado que obtendrá mediante este examen es un diagnóstico preliminar basado en mujeres de <u>EDAD REPRODUCTIVA</u> y el cual <u>NO SUSTITUYE</u> un diagnóstico médico.
                    Para una evaluación médica, por favor <u>visite a su ginecólogo.</u>
                    Marque la casilla de "Acepto los términos y condiciones", a continuación para asegurar que usted ha sido informado y entiende lo establecido anteriormente.
                    De no marcar el siguiente recuadro, <u>NO PODRÁ RECIBIR LOS RESULTADOS DEL EXAMEN.</u> Gracias por su cooperación y por utilizar EndoRisk.

                </p>


                <label class="accept_terms">

                    <input id="showChecked" type="checkbox" name="enable_test" value="" class="accept_terms" required />
                    <!--<a href="~/Home/Terminos.cshtml"  target="_blank" onclick="window.open(this.href, this.target, 'width=300,height=400'); return false;">-->

                </label>
                <strong style="color: #8a3961">
                    <a id="open" style="text-decoration:underline;font-size: large;font-weight:bold;color: #8a3961">Acepto los términos y condiciones</a>
                </strong>
                <div class="warnings" id="terms">
                    <ul class="list-group">
                        <li>
                            <strong> De no aceptar los terminos y condiciones, no podra accesar la calculadora de riesgo de endometriosis. </strong>
                        </li>
                        <li>
                            Los datos serán utilizados con propósito investigativo en el área de la salud,
                            específicamente relacionados a la enfermedad de endometriosis.
                        </li>
                        <li>
                            Las preguntas básicas tomarán aproximadamente un máximo de cinco (5) a diez (10) minutos en contestar.
                        </li>
                        <li>
                            De haber tenido síntomas relacionados a enfermedades gastrointestinales al responder las
                            preguntas básicas, se le proveerá la opción de responder una serie de preguntas
                            nuevas de manera opcional las cuales pueden tomar entre quince (15) a veinte (20) minutos como máximo.
                        </li>
                        <li>
                            Ambos conjuntos de preguntas están relacionados únicamente a síntomas o
                            situaciones que pueden ser clave para el diagnóstico de endometriosis.
                        </li>
                        <li>
                            Informamos que el uso de la herramienta en línea puede ocasionar un riesgo emocional mínimo
                            en cuanto a la predicción del riesgo que puede tener la participante de sufrir de endometriosis.

                            <strong>
                                Por consiguiente, la predicción del riesgo de padecer de endometriosis
                                solo sirve como diagnostico preliminar basado en data previamente recopilada y no puede ser
                                certificado como un diagnóstico completamente definitivo.
                            </strong>
                        </li>
                        <li>
                            Se debe visitar o consultar un especialista o doctor para obtener un diagnóstico real y preciso.
                        </li>
                        <li>
                            Informamos que la participación en el uso de la herramienta en línea para usos
                            investigativos es <strong>totalmente voluntaria</strong> y que no habrá penalidad alguna por retirarme de la
                            investigación o no querer participar en la misma en cualquier momento que lo desee.
                        </li>
                        <li>
                            Informamos que la participación es totalmente confidencial y no se recopilará data personal que pueda ayudar a
                            identificar su persona en publicaciones relacionadas a los estudios llevados a cabo.
                        </li>
                    </ul>
                    <div class="center">
                        <a id="close" style="text-decoration:underline;color: #b200ff">Cerrar</a>
                    </div>
                </div>



                <p class="inicio_preguntas" style="font-size:large;font-weight:500">Por favor complete las siguientes preguntas: </p>
                <p class="campo_requerido" hidden>* Campo requerido</p><br />



                <p class="PID_number" style="font-size:large;font-weight:500">Si posee algún número de paciente, escríbalo en este campo. De lo contrario deje este campo vacío. </p>


                <input type="number" id="PID" name="PID" value="" placeholder="" min="0" max="1000000" />
                <span class="warnings" id="warning">
                    <strong>Nota! El ID de paciente debe ser menor a 999999.</strong>
                </span>




                @foreach (var questionItem in Model.FirstOrDefault().quest)
                {
                    if (questionItem.abbr.Equals("AWSS"))
                    {
                    }
                    else if (questionItem.abbr.Equals("IRP"))
                    {

                    }
                    //Displays the question

                    else if (questionItem.abbr.Equals("DBP"))
                    {
                        <p style="font-size:large;font-weight:500;display:block" id="q-IRP"> ¿Tiene periodo irregular?</p>
                        <label class="campo_requerido">
                            <select id="IRP" name="IRP"
                                    style="display:inline;font-weight:500" required>
                                <option selected></option>
                                <option value="SI">Sí</option>
                                <option value="NO">No</option>
                            </select>
                        </label>
                        <p style="font-size:large;font-weight:500;display:block" id="q-@questionItem.abbr"> @questionItem.question</p>
                    }
                    else if (questionItem.abbr.Equals("TP"))
                    {
                        <p style="font-size:large;font-weight:500;display:block" id="q-HBP"> ¿Ha quedado embarazada?</p>
                        <label class="campo_requerido">
                            <select id="HBP" name="HBP"
                                    style="display:inline;font-weight:500" required>
                                <option selected></option>
                                <option value="Sí">Sí</option>
                                <option value="No">No</option>
                                <option value="No sé">No sé</option>
                            </select>
                        </label>
                        <p style="font-size:large;font-weight:500;display:block" id="q-@questionItem.abbr"> @questionItem.question</p>
                    }
                    else if (questionItem.abbr.Equals("YS"))
                    {
                        <p style="font-size:large;font-weight:500;display:block" id="q-@questionItem.abbr">
                            @questionItem.question <a title="Si lleva menos de un año fumando, escriba cero (0)."><img id="im-YS" src="~/Images/toolbar_get_info.png" align="top" /></a>
                        </p>
                        <span class="warnings" id="i-YS">
                            <strong>Si lleva menos de un año fumando, escriba cero (0).</strong>
                        </span>



                    }

                    else if (questionItem.abbr.Equals("SU") || questionItem.abbr.Equals("SE") || questionItem.abbr.Equals("OETR") || questionItem.abbr.Equals("ETR"))
                    {
                        <p style="font-size:large;font-weight:500;display:block" id="q-@questionItem.abbr">
                            @questionItem.question <a title="Esta pregunta no se tomará en cuenta para el cálculo de riesgo."><img id="im-@questionItem.abbr" src="~/Images/toolbar_get_info.png" align="top" /></a>
                        </p>
                        <span class="warnings" id="i-@questionItem.abbr">
                            <strong>Esta pregunta no se tomará en cuenta para el cálculo de riesgo.</strong>
                        </span>
                    }

                    else
                    {
                        <p style="font-size:large;font-weight:500;display:block" id="q-@questionItem.abbr"> @questionItem.question</p>
                    }

                    @*<input type="text" name="@questionItem.question" value=" " required />*@ <!--Displays the question -->

                    <div class="col-md-10">
                        <!--Check if the set is empty-->
                        @if (questionItem.set.Equals(""))
                        {
                            if (questionItem.abbr.Equals("OETR"))
                            {
                                <label class="campo_requerido" style="font-size:medium">
                                    <input id="@questionItem.abbr" type="text" name="@questionItem.abbr" maxlength="50" required />
                                </label>
                            }
                            else if (questionItem.abbr.Equals("AWSS"))
                            {

                            }
                            else if (questionItem.abbr.Equals("IRP"))
                            {

                            }

                            else
                            {

                                <label class="campo_requerido" style="font-size:medium">
                                    <input id="@questionItem.abbr" type="number" name="@questionItem.abbr" min="0" required />
                                </label>
                            }



                        }

                        else
                        {
                            if (questionItem.abbr.Equals("IRP"))
                            {

                            }
                            else if (questionItem.abbr.Equals("EBA"))
                            {

                                <label class="campo_requerido">
                                    <select id="@questionItem.abbr" name="@questionItem.abbr"
                                            style="display:inline;font-weight:500" required>
                                        <option selected></option>

                                        @foreach (var choiceIndex in questionItem.choices)
                                        {
                                            <option value="@choiceIndex">@choiceIndex</option>
                                        }
                                    </select><span class="warnings" id="warningEBA">
                                        <strong>Advertencia!</strong> El modelo de predicción esta basado en una población Hispana.
                                    </span>
                                </label>
                            }
                            else
                            {
                    <!--Display the choices for the question in a select-->
                    <!-- Value will be the selected choice = element(i)-->
                                <label class="campo_requerido">
                                    <select id="@questionItem.abbr" name="@questionItem.abbr"
                                            style="display:inline;font-weight:500" required>
                                        <option selected></option>

                                        @foreach (var choiceIndex in questionItem.choices)
                                        {
                                            <option value="@choiceIndex">@choiceIndex</option>
                                        }
                                    </select>
                                </label>
                            }

                        }
                        @{counter++;}
                    </div>
                }

                <p style="font-size:large;font-weight:500">Seleccione los síntomas que esta experimentando actualmente:</p>
                <div class="boxP">

                    <div class="leftP">
                        @for (int i = 0; i < (Model.FirstOrDefault().symp.Count / 2); i++)
                        {
                            if (Model.FirstOrDefault().symp.ElementAt(i).abbr.Equals("OS"))
                            {

                            }
                            else
                            {
                                <div>
                                    <input id="symp" class="symptom" onclick="symptom(1)" type="checkbox" name="symp" value="@Model.FirstOrDefault().symp.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight:500;color: #3e5667;font-size:15px"> @Model.FirstOrDefault().symp.ElementAt(i).symptom1</span>
                                </div>
                            }

                        }
                    </div>
                    <div class="leftP">

                        @for (int i = (Model.FirstOrDefault().symp.Count / 2); i < Model.FirstOrDefault().symp.Count; i++)
                        {
                            if (Model.FirstOrDefault().symp.ElementAt(i).abbr.Equals("OS"))
                            {

                            }
                            else
                            {
                                <div>
                                    <input id="symp" class="symptom" onclick="symptom(1)" type="checkbox" name="symp" value="@Model.FirstOrDefault().symp.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().symp.ElementAt(i).symptom1</span>
                                </div>
                            }
                        }

                        @for (int i = 0; i < Model.FirstOrDefault().symp.Count; i++)
                        {
                            if (Model.FirstOrDefault().symp.ElementAt(i).abbr.Equals("OS"))
                            {
                                <div>
                                    <input id="symp" class="symptom" onclick="symptom(1)" type="checkbox" name="symp" value="@Model.FirstOrDefault().symp.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().symp.ElementAt(i).symptom1</span>
                                </div>
                            }

                        }
                        <div>
                            <input id="NTS" class="nosymp" type="checkbox" name="symp" value="NTS" style="font-weight:500" checked />
                            <span style="font-weight: 500;color: #3e5667;font-size:15px">No tengo síntomas</span>
                        </div>
                        <div>
                            <input id="symp" type="checkbox" name="symp" value="" checked hidden />
                        </div>

                    </div>
                </div>


                <div class="form-group" style="clear:both">
                    @foreach (var questionItem in Model.FirstOrDefault().quest)
                    {
                    <!--Displays the question -->
                        if (questionItem.abbr.Equals("AWSS"))
                        {<p style="font-size:large;font-weight:500;display:none;" id="q-@questionItem.abbr"> @questionItem.question</p>}
                        @*<input type="text" name="@questionItem.question" value=" " required />*@ <!--Displays the question -->

                        <div class="col-md-10">
                            <!--Check if the set is empty-->
                            @if (questionItem.abbr.Equals("AWSS"))
                            {

                                <label class="campo_requerido" style="font-size:large;">
                                    <input id="@questionItem.abbr" style="display:none" type="number" name="@questionItem.abbr" min="0" max="74" />
                                </label>

                            }

                            else { }
                        </div>
                    }
                </div>


                <br />
                <p style="font-size:large; clear:both; font-weight:500">Seleccione otras condiciones pre-existentes que esta experimentando:</p>
                <span class="warnings" id="i-UF">
                    <strong>Fibromas uterinos son tumores no cancerosos en el útero.</strong>
                </span>
                <span class="warnings" id="i-PAP">
                    <strong>PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero.</strong>
                </span>


                <div class="boxP">
                    <div class="leftPP">
                        @for (int i = 0; i <= (Model.FirstOrDefault().prexCond.Count / 2); i++)
                        {
                            if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("OPC"))
                            {

                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("UF"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="Fibromas uterinos son tumores no cancerosos en el útero."><img id="im-UF" src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img id="im-PAP" src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            /*else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_I"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_II"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_III"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_IV"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }*/
                            else
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight:500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                </div>
                            }
                        }
                    </div>
                    <div class="leftPP">
                        @for (int i = (Model.FirstOrDefault().prexCond.Count / 2) + 1; i < Model.FirstOrDefault().prexCond.Count; i++)
                        {
                            if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("OPC"))
                            {
                            }

                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("UF"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <a title="Fibromas uterinos son tumores no cancerosos en el útero."><img id="im-UF" src="~/Images/toolbar_get_info_small.png" align="top" /></a>

                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img id="im-PAP" src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }/*
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_I"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_II"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_III"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }
                            else if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("PAP_IV"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                    <span title="PAP (Prueba de Papanicolaou) - Para detectar anomalías en el cuello del útero."><img src="~/Images/toolbar_get_info_small.png" align="top" /></span>
                                </div>
                            }*/
                            else
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                </div>
                            }
                        }

                        @for (int i = 0; i < Model.FirstOrDefault().prexCond.Count; i++)
                        {
                            if (Model.FirstOrDefault().prexCond.ElementAt(i).abbr.Equals("OPC"))
                            {
                                <div>
                                    <input id="prexCond" class="precon" type="checkbox" onclick="pre(1)" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                                    <span style="font-weight: 500;color: #3e5667;font-size:15px">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                                </div>
                            }

                        }

                        <div>
                            <input id="NOOPC" class="nopre" type="checkbox" name="prexCond" value="NOOPC" checked style="font-weight:500" />
                            <span style="font-weight: 500;color: #3e5667;font-size:15px">No tengo condiciones</span>
                        </div>
                        <div>
                            <input id="prexCond" type="checkbox" name="prexCond" value="" checked hidden />
                        </div>
                        <br />
                        <br />
                    </div>
                </div>


            </div>
            <br />
            <!-- Submit button for the form -> (calls ActionResult EndoriskResult() in EndoriskCalculatorController)-->

            <div class="form-group">
                <div class="center" style="clear:both;">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="submitted" type="submit" value="Calcular Riesgo"
                               class="btn btn-default" />

                    </div>
                </div>
            </div>
            <br />
            <p id="waitText" style="display:none;text-align:center">Calculando su riesgo...</p>
        </div>
    }
</div>

<div id="waitImage" style="display:none; margin:0 auto; height: auto; width: 128px;">
    <img src="~/Images/128x128/Preloader_2.gif" />
</div>
@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")

    @**@


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <style>
        /*.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}
                                .btn-info.active,.btn-info.focus,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info{color:#fff;background-color:#31b0d5;border-color:#269abc}
                                .btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info{background-image:none}.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled.focus,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled].focus,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled]
                                 .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled]
                                .btn-info.focus,fieldset[disabled] .tn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled]
                                .btn-info:hover{background-color:#5bc0de;border-color:#46b8da}.btn-info .badge{color:#5bc0de;background-color:#fff}
                                 */
    </style>


    <script type="text/javascript">



        $("#userAnswersForm").submit(function () {
            var isFormValid = true;

            $(".required input").each(function () {
                if ($.trim($(this).val()).length == 0) {

                    isFormValid = false;
                }
                else {

                }
            });

            if (!isFormValid) {
                document.getElementById('waitText').style.display = 'none';
                document.getElementById('waitImage').style.display = 'none';
            }
            else {
                var period = $('#IRP').val();;
                if (period === 'SI') {
                    document.getElementById("DBP").value = 37.5;
                }

                document.getElementById('waitText').style.display = 'block';
                document.getElementById('waitImage').style.display = 'block';
            }

            return isFormValid;
        });


        $(document).ready(function () {
            document.getElementById('waitText').style.display = 'none';
            document.getElementById('waitImage').style.display = 'none';
            document.getElementById('AWSS').value = 0;
        });

        /*  $(document).ready(function () {
              document.getElementById('EBA').setAttribute('value', '');
              document.getElementById('IRP').setAttribute('value', '');
              document.getElementById('SM').setAttribute('value', '');
              document.getElementById('PGP').setAttribute('value', '');
              document.getElementById('IT').setAttribute('value', '');
              document.getElementById('SA').setAttribute('value', '');
              document.getElementById('OCP').setAttribute('value', '');
              document.getElementById('CC').setAttribute('value', '');
              document.getElementById('SI').setAttribute('value', '');
              document.getElementById('SIA').setAttribute('value', '');
              document.getElementById('ED').setAttribute('value', '');
              document.getElementById('SU').setAttribute('value', '');
              document.getElementById('ETR').setAttribute('value', '');
              document.getElementById('SE').setAttribute('value', '');
              //añadir ¿ha quedado embarazada?
              document.getElementById('BP').setAttribute('value', '');
          });*/

        $(document).ready(function () {
            $('#NTS').click(function (event) {  //on click
                if (this.checked) { // check select status
                    document.getElementById('AWSS').style.display = 'none';
                    document.getElementById('AWSS').value = 0;
                    document.getElementById('q-AWSS').style.display = 'none';
                    document.getElementById('AWSS').removeAttribute('required');

                    $('.symptom').each(function () { //loop through each checkbox
                        this.checked = false;  //select all checkboxes with class "checkbox1"
                    });
                } else {

                    document.getElementById('AWSS').style.display = 'block';
                    document.getElementById('q-AWSS').style.display = 'block';
                    document.getElementById('AWSS').value = 0;
                    document.getElementById('AWSS').setAttribute('required', 'true');
                }
            });

        });

        $(document).ready(function () {
            $('#NOOPC').click(function (event) {  //on click
                if (this.checked) { // check select status
                    $('.precon').each(function () { //loop through each checkbox
                        this.checked = false;  //select all checkboxes with class "checkbox1"
                    });
                }
            });

        });

        function symptom(value) {
            if (value == 1) {
                $('.nosymp').each(function () { //loop through each checkbox
                    this.checked = false;  //select all checkboxes with class "checkbox1"
                });
                document.getElementById('AWSS').style.display = 'block';
                document.getElementById('q-AWSS').style.display = 'block';
                document.getElementById('AWSS').value = 0;
                document.getElementById('AWSS').setAttribute('required', 'true');
            }

        }

        function pre(value) {
            if (value == 1) {
                $('.nopre').each(function () { //loop through each checkbox
                    this.checked = false;  //select all checkboxes with class "checkbox1"
                });
            }

        }
        document.getElementById('open').onclick = function () {
            document.getElementById('terms').style.display = 'block';
            var checked = document.getElementById('showChecked').checked;
            if (checked) {
                document.getElementById('showChecked').removeAttribute('checked');
            }
            else {
                document.getElementById('showChecked').removeAttribute('checked');
            }

        }

        document.getElementById('close').onclick = function () {
            document.getElementById('terms').style.display = 'none';
            var checked = document.getElementById('showChecked').checked;
            if (checked) {
                document.getElementById('showChecked').removeAttribute('checked');
            }
            else {
                document.getElementById('showChecked').removeAttribute('checked');
            }
        }

        $('#PID').on('input', function () {
            var value = $('#PID').val();

            if (value > 999999) {
                document.getElementById('warning').style.display = 'block';

            }
            else {
                document.getElementById('warning').style.display = 'none';
            }

        });

        document.getElementById('EBA').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "Hispano" || value == "") {
                document.getElementById('warningEBA').style.display = 'none';
            }
            else {
                document.getElementById('warningEBA').style.display = 'block';
            }
        };

        document.getElementById('IRP').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "SI") {
                /*document.getElementById('q-DBP').style.display = 'none';
                document.getElementById("DBP").value = 0;
                document.getElementById('DBP').style.display = 'none';*/
                document.getElementById('DBP').removeAttribute('required');
            }
            else {

                document.getElementById('q-DBP').style.display = 'block';
                document.getElementById('DBP').style.display = 'inline';
                document.getElementById('DBP').setAttribute('required', 'true');
                //document.getElementById("DBP").value = 0;
            }
        };

        document.getElementById('SM').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No") {
                document.getElementById('q-YS').style.display = 'none';
                document.getElementById('q-CI').style.display = 'none';

                document.getElementById("YS").value = 0;
                document.getElementById('YS').style.display = 'none';
                document.getElementById('YS').removeAttribute('required');
                document.getElementById("CI").value = 0;
                document.getElementById('CI').style.display = 'none';
                document.getElementById('CI').removeAttribute('required');
            }
            else {
                document.getElementById('q-YS').style.display = 'block';
                document.getElementById('q-CI').style.display = 'block';
                document.getElementById('YS').style.display = 'inline';
                document.getElementById('CI').style.display = 'inline';
                document.getElementById('YS').setAttribute('required', 'true');
                document.getElementById('CI').setAttribute('required', 'true');
                document.getElementById('YS').value = 0;
                document.getElementById('CI').value = 0;

            }
        };

        document.getElementById('PGP').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No" || value == "No Aplica") {

                document.getElementById('q-IT').style.display = 'none';
                document.getElementById('IT').value = 'No';
                document.getElementById('IT').style.display = 'none';
                document.getElementById('IT').removeAttribute('required');

            }
            else {
                document.getElementById('q-IT').style.display = 'block';
                document.getElementById('IT').style.display = 'inline';
                document.getElementById('IT').setAttribute('required', 'true');
                document.getElementById('IT').value = 'No';

            }
        };

        document.getElementById('HBP').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No" || value == "No sé") {
                document.getElementById('q-TP').style.display = 'none';
                document.getElementById('TP').value = 0;
                document.getElementById('TP').style.display = 'none';
                document.getElementById('TP').removeAttribute('required');
                document.getElementById('q-PA').style.display = 'none';
                document.getElementById('PA').value = 0;
                document.getElementById('PA').style.display = 'none';
                document.getElementById('q-SA').style.display = 'none';
                document.getElementById('SA').value = 'No';
                document.getElementById('SA').style.display = 'none';
                document.getElementById('q-NA').style.display = 'none';
                document.getElementById('NA').value = 0;
                document.getElementById('NA').style.display = 'none';
                document.getElementById('PA').removeAttribute('required');
                document.getElementById('SA').removeAttribute('required');
                document.getElementById('NA').removeAttribute('required');

            }
            else {
                document.getElementById('q-TP').style.display = 'block';
                document.getElementById('TP').style.display = 'inline';
                document.getElementById('TP').value = 0;
                document.getElementById('q-PA').style.display = 'block';
                document.getElementById('PA').style.display = 'inline';
                document.getElementById('PA').value = 0;
                document.getElementById('q-SA').style.display = 'block';
                document.getElementById('SA').style.display = 'inline';
                document.getElementById('SA').value = '';
                document.getElementById('q-NA').style.display = 'block';
                document.getElementById('NA').style.display = 'inline';
                document.getElementById('NA').value = 0;
                document.getElementById('PA').setAttribute('required', 'true');
                document.getElementById('SA').setAttribute('required', 'true');
                document.getElementById('NA').setAttribute('required', 'true');


            }
        };

        $('#TP').on('input', function () {
            var value = $('#TP').val();

            if (value == 0) {
                document.getElementById('q-PA').style.display = 'none';
                document.getElementById('PA').value = 0;
                document.getElementById('PA').style.display = 'none';
                document.getElementById('q-SA').style.display = 'none';
                document.getElementById('SA').value = 'No';
                document.getElementById('SA').style.display = 'none';
                document.getElementById('q-NA').style.display = 'none';
                document.getElementById('NA').value = 0;
                document.getElementById('NA').style.display = 'none';
                document.getElementById('PA').removeAttribute('required');
                document.getElementById('SA').removeAttribute('required');
                document.getElementById('NA').removeAttribute('required');

            }
            else {
                document.getElementById('q-PA').style.display = 'block';
                document.getElementById('PA').style.display = 'inline';
                document.getElementById('PA').value = 0;
                document.getElementById('q-SA').style.display = 'block';
                document.getElementById('SA').style.display = 'inline';
                document.getElementById('SA').value = '';
                document.getElementById('q-NA').style.display = 'block';
                document.getElementById('NA').style.display = 'inline';
                document.getElementById('NA').value = 0;
                document.getElementById('PA').setAttribute('required', 'true');
                document.getElementById('SA').setAttribute('required', 'true');
                document.getElementById('NA').setAttribute('required', 'true');

            }
        });

        document.getElementById('SA').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "Sí") {
                document.getElementById('q-NA').style.display = 'block';
                document.getElementById('NA').style.display = 'inline';
                document.getElementById('NA').setAttribute('required', 'true');
                document.getElementById('NA').value = 0;


            }
            else {
                document.getElementById('q-NA').style.display = 'none';
                document.getElementById('NA').value = 0;
                document.getElementById('NA').style.display = 'none';
                document.getElementById('NA').removeAttribute('required');

            }
        };

        document.getElementById('SI').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "Sí") {

                document.getElementById('q-SIA').style.display = 'block';
                document.getElementById('SIA').style.display = 'inline';
                document.getElementById('SIA').setAttribute('required', 'true');
                document.getElementById('SIA').value = '';
            }
            else {
                document.getElementById('q-SIA').style.display = 'none';
                document.getElementById('SIA').value = 'No Aplica';
                document.getElementById('SIA').style.display = 'none';
                document.getElementById('SIA').removeAttribute('required');

            }
        };

        document.getElementById('ED').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No" || value == "No Aplica") {

                document.getElementById('q-SU').style.display = 'none';
                document.getElementById('SU').value = 'No';
                document.getElementById('SU').style.display = 'none';
                document.getElementById('SU').removeAttribute('required');

                document.getElementById('q-SE').style.display = 'none';
                document.getElementById('SE').value = 'Leve';
                document.getElementById('SE').style.display = 'none';
                document.getElementById('SE').removeAttribute('required');

                document.getElementById('q-ETR').style.display = 'none';
                document.getElementById('ETR').value = 'Otro';
                document.getElementById('ETR').style.display = 'none';
                document.getElementById('ETR').removeAttribute('required');

                document.getElementById('q-OETR').style.display = 'none';
                document.getElementById('OETR').value = 'No Aplica';
                document.getElementById('OETR').style.display = 'none';
                document.getElementById('OETR').removeAttribute('required');

            }
            else {
                document.getElementById('q-SU').style.display = 'block';
                document.getElementById('SU').style.display = 'inline';
                document.getElementById('SU').value = '';
                document.getElementById('SU').setAttribute('required', 'true');

                document.getElementById('q-SE').style.display = 'block';
                document.getElementById('SE').style.display = 'inline';
                document.getElementById('SE').value = '';
                document.getElementById('SE').setAttribute('required', 'true');

                document.getElementById('q-ETR').style.display = 'block';
                document.getElementById('ETR').style.display = 'inline';
                document.getElementById('ETR').value = '';
                document.getElementById('ETR').setAttribute('required', 'true');

                document.getElementById('q-OETR').style.display = 'block';
                document.getElementById('OETR').style.display = 'inline';
                document.getElementById('OETR').value = '';
                document.getElementById('OETR').setAttribute('required', 'true');

            }
        };

        document.getElementById('ETR').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value != "Otro") {
                document.getElementById('q-OETR').style.display = 'none';
                document.getElementById('OETR').value = 'No Aplica';
                document.getElementById('OETR').style.display = 'none';
                document.getElementById('OETR').removeAttribute('required');
            }
            else {
                document.getElementById('q-OETR').style.display = 'block';
                document.getElementById('OETR').style.display = 'inline';
                document.getElementById('OETR').value = '';
                document.getElementById('OETR').setAttribute('required', 'true');

            }
        };

        function overlay(idvalue) {

            el = document.getElementById(idvalue).stye.display;
            if (e1 == 'block') {
                document.getElementById(idvalue).style.display = 'none';
            }
            else {
                document.getElementById(idvalue).style.display = 'block';
            }

        };


        document.getElementById('im-YS').onclick = function () {
            var idval = document.getElementById('i-YS').style.display;
            if (idval == 'block') {
                document.getElementById('i-YS').style.display = 'none';
            }
            else {
                document.getElementById('i-YS').style.display = 'block';
            }
        };

        document.getElementById('im-SU').onclick = function () {
            var idval = document.getElementById('i-SU').style.display;
            if (idval == 'block') {
                document.getElementById('i-SU').style.display = 'none';
            }
            else {
                document.getElementById('i-SU').style.display = 'block';
            }
        };

        document.getElementById('im-SE').onclick = function () {
            var idval = document.getElementById('i-SE').style.display;
            if (idval == 'block') {
                document.getElementById('i-SE').style.display = 'none';
            }
            else {
                document.getElementById('i-SE').style.display = 'block';
            }
        };

        document.getElementById('im-ETR').onclick = function () {
            var idval = document.getElementById('i-ETR').style.display;
            if (idval == 'block') {
                document.getElementById('i-ETR').style.display = 'none';
            }
            else {
                document.getElementById('i-ETR').style.display = 'block';
            }
        };
        document.getElementById('im-OETR').onclick = function () {
            var idval = document.getElementById('i-OETR').style.display;
            if (idval == 'block') {
                document.getElementById('i-OETR').style.display = 'none';
            }
            else {
                document.getElementById('i-OETR').style.display = 'block';
            }
        };

        document.getElementById('im-UF').onclick = function () {
            var idval = document.getElementById('i-UF').style.display;
            if (idval == 'block') {
                document.getElementById('i-UF').style.display = 'none';
            }
            else {
                document.getElementById('i-UF').style.display = 'block';
            }
        };
        document.getElementById('im-PAP').onclick = function () {
            var idval = document.getElementById('i-PAP').style.display;
            if (idval == 'block') {
                document.getElementById('i-PAP').style.display = 'none';
            }
            else {
                document.getElementById('i-PAP').style.display = 'block';
            }
        };

    </script>





    <style type="text/css">
        label.accept_terms {
            display: inline;
            height: auto;
            padding-left: 15px;
            text-indent: -15px;
            float: none;
            bottom: -10px;
        }

        input.accept_terms {
            width: 15px;
            height: 20px;
            padding: 0;
            margin: 0 2px 0 0;
            vertical-align: bottom;
            top: -1px;
            *overflow: hidden;
            /*text-align: right;*/
            margin-right: 7px;
            float: none;
            bottom: -10px;
        }

        p.inicio_preguntas {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            bottom: -10px;
            /*line-height: 50px;*/
        }

        .campo_requerido {
            color: #8a3961;
            font-weight: 900;
            font-size: 1em;
            top: 300px;
        }

        .warnings {
            display: none;
            margin: 10px;
            font-size:,medium;
            color: #2e4f4f;
            width: auto;
            height: auto;
            background-color: #dba9f1;
            border: solid thin #8a3961;
            border-radius: 3px 3px 3px 3px;
            padding: 10px;
        }
    </style>
}






