@model EndoRiskWeb.Models.patient

<!--Documentation: Samuel
    Temporary Testing View for the Risk View();
    Try1: Using Patient Model : Shows Results
    -->
@{
    ViewBag.Title = "Resultados";
    string verificado = Model.verified;
}

<div >

    <h2 class="center">@ViewBag.Title</h2>
    <br />
    <article class="questionWrap">
        <p>
            Se ha determinado que su riesgo de padecer endometriosis a lo largo de su vida es:
        </p>
        
            <section class="center" style="background-color: #ebeef6;margin: 0 auto;border-radius: 30px 30px 30px 30px; border: thin solid gray;width:400px">
                <!--View patients result: Quiz, ID, Risk, Time and Verified-->
                <h3> Número de Examen: </h3> <p>@Model.idQuiz</p>
                <h3> ID de paciente:</h3> <p>@Model.idPatient</p>
                <h3> Riesgo: </h3><p> @ViewBag.RiskPercent%</p>
                <h3> Nivel de Severidad:</h3> <p> @ViewBag.SeverityPercent</p>
                <h3> Fecha y hora al tomar el examen: </h3> <p> @Model.time</p>
                <h3> Examen validado por: </h3>
               
                @if (verificado.Equals("No"))
                {
                    <p> No ha sido validado por administradores </p>
                }
                else
                {
                    <p> @Model.verified</p>
                }
                
            </section>


<p>
    Para obneter más información acerca de esta enfermedad, o sobre la interpretación de su riesgo visite la sección
    sobre @Html.ActionLink("Endometriosis", "EndoInfo", "Home") o consulte algún profesional de la salud.
    <!-- Un link al tab de Endometriosis para más información sobre el resultado-->
</p>

<p>
    *Recuerde que esta herramienta es solamente una guía, y no pretende sustituir el diagnóstico de un médico. Le
    sugerimos que visite su médico para un diagnóstico más preciso.
</p>


<h2 class="center">Cuestionario Opcional:</h2>
<p>
    Los síntomas de endometriosis, en algunas ocasiones pueden confundirse con algún tipo de enfermedad gastrointestinal.
    A continuación le proveemos la opción de llenar el cuestionario de "Rome III", para saber si este puede ser su caso:
</p>

<section class="center" style="a">
    <!--Este nuevo link que añadí, es para ir a Rome III enviandole como parámetro el ID del quiz y de la paciente-->
    @Html.ActionLink("Cuestionario Enfermedades Gastrointestinales", "DisplayRomeQuestionnaire", "RomeQuestionnaire", new { quizNum = Model.idQuiz, patientNum = Model.idPatient }, null)
</section>

<p>
    ¡Gracias por utilizar Endorisk!
</p>

<section class="center">
    <p>@Html.ActionLink("Regresar a página de inicio", "EndoriskQuestions", "EndoriskCalculator")</p>
</section>

</article>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





