@model IEnumerable<EndoRiskWeb.Models.IndexViewModel>
<!--
    Documentation: Samuel Feliciano
-->
@{
    ViewBag.Title = "Calculadora de Riesgo de Endometriosis";
   
}

@section featured {

    <div>
        <hgroup>
            <h2 class="center">@ViewBag.Title.</h2>
        </hgroup>
    </div>

}
@{int counter = 0;}


<div class="questionWrap">
    <!-- Start the form (POST) to use in the Risk Method-->
    @using (Html.BeginForm("EndoriskResult", "EndoriskCalculator", FormMethod.Post, new { @name = "userAnswersForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <!--
                    Goes through every item in the Model : questions
                    question includes: ID, Question, Abbreviation, Choices Set Name, and the List of Choices
                    -->

                <p style="font-size:large;font-weight:bold; color:#3e5667">
                    Nota: El resultado que obtendrá mediante este examen es un diagnóstico preliminar basado en mujeres de <u>EDAD REPRODUCTIVA</u> y el cual <u>NO SUSTITUYE</u> un diagnóstico médico.
                    Para obtener un diagnóstico mucho más detallado y confiable, por favor <u>visite a su ginecólogo.</u>
                    Marque la casilla de "Acepto los términos y condiciones", a continuación para asegurar que usted ha sido informado y entiende lo establecido anteriormente. 
                    De no marcar el siguiente recuadro, <u>NO PODRÁ RECIBIR LOS RESULTADOS DEL EXAMEN.</u> Gracias por su cooperación y por utilizar EndoRisk.

                </p>


                <label class="accept_terms">
                    <strong style="color: #3e5667">
                        <input id="showChecked" type="checkbox" name="enable_test" value="" class="accept_terms" required  style="font-size: large;font-weight:bold"/>
                        Acepto los términos y condiciones
                    </strong>
                </label>

                <p class="inicio_preguntas" style="font-size:large;font-weight:500">Por favor complete las siguientes preguntas: </p>
                <p class="campo_requerido" hidden>* Campo requerido</p><br />
                <p class="PID_number" style="font-size:large;font-weight:500">Si posee algún número de paciente, escríbalo en este campo. De lo contrario deje este campo vacío. </p>
                <input type="number" name="PID" value="" placeholder="" min="0" max="1000000" />

                @foreach (var questionItem in Model.FirstOrDefault().quest)
                {
                    if (questionItem.abbr.Equals("AWSS")) 
                    {
                    }
                //Displays the question 
                  
                    else {<p style="font-size:large;font-weight:500;display:block" id="q-@questionItem.abbr"> @questionItem.question</p> }
                   
                    @*<input type="text" name="@questionItem.question" value=" " required />*@ <!--Displays the question -->

                    <div class="col-md-10">
                        <!--Check if the set is empty-->
                        @if (questionItem.set.Equals(""))
                        {
                            if (questionItem.abbr.Equals("OETR"))
                            {
                                <label class="campo_requerido" style="font-size:medium">
                                    <input id="@questionItem.abbr" type="text" name="@questionItem.abbr" maxlength="50"  />
                                </label>
                            } 
                            else if (questionItem.abbr.Equals("AWSS"))
                            {

                            }
                            
                            else
                            {

                                <label class="campo_requerido" style="font-size:medium">
                                    <input id="@questionItem.abbr" type="number" name="@questionItem.abbr" min="0"  />
                                </label>
                            }

                           

                        }

                        else
                        {
                                <!--Display the choices for the question in a select-->
                                <!-- Value will be the selected choice = element(i)-->
                        <label class="campo_requerido">
                            <select id="@questionItem.abbr" name="@questionItem.abbr"
                                     style="display:inline;font-weight:500">
                                <option selected></option>

                                @foreach (var choiceIndex in questionItem.choices)
                                {
                                    <option value="@choiceIndex">@choiceIndex</option>
                                }
                            </select>
                            </label>


                        }
                    @{counter++;}
</div>
                }
                <p style="font-size:large;font-weight:500">Seleccione los síntomas que padece o ha padecido:</p>
                <div class="boxS" >

                    <div class="leftS">
                        @for (int i = 0; i < (Model.FirstOrDefault().symp.Count / 2); i++)
                        {   <div>
                            <input id="symp" type="checkbox" name="symp" value="@Model.FirstOrDefault().symp.ElementAt(i).abbr" style="font-weight:500" />
                           <span style="font-weight:500;color: #3e5667"> @Model.FirstOrDefault().symp.ElementAt(i).symptom1</span>
                        </div>
                        }
                    </div>
                    <div class="leftS">

                        @for (int i = (Model.FirstOrDefault().symp.Count / 2); i < Model.FirstOrDefault().symp.Count; i++)
                        {   <div>
                            <input id="symp" type="checkbox" name="symp" value="@Model.FirstOrDefault().symp.ElementAt(i).abbr" style="font-weight:500" />
                            <span style="font-weight: 500;color: #3e5667">@Model.FirstOrDefault().symp.ElementAt(i).symptom1</span>
                        </div>

                        }
                        <div>
                            <input id="symp" type="checkbox" name="symp" value="NTS"  style="font-weight:500"/>
                            <span style="font-weight: 500;color: #3e5667">No tengo síntomas</span>
                        </div>
                        <div>
                            <input id="symp" type="checkbox" name="symp" value=""  checked hidden />
                        </div>
                                                
                        <br />
                      </div>
                </div>


                <div class="form-group">
                    @foreach (var questionItem in Model.FirstOrDefault().quest)
                    {
                <!--Displays the question -->
                        if (questionItem.abbr.Equals("AWSS"))
                        {<p style="font-size:large;font-weight:500;display:block" id="q-@questionItem.abbr"> @questionItem.question</p>}
                        @*<input type="text" name="@questionItem.question" value=" " required />*@ <!--Displays the question -->

                        <div class="col-md-10">
                            <!--Check if the set is empty-->
                            @if (questionItem.abbr.Equals("AWSS"))
                            {

                                <label class="campo_requerido" style="font-size:medium">
                                    <input id="@questionItem.abbr" type="text" name="@questionItem.abbr" maxlength="50" />
                                </label>

                            }

                            else { }
                    </div>
                    }
                </div>

                
                <br />
                <p style="font-size:large; clear:both; font-weight:500">Seleccione otras condiciones pre-existentes:</p>
                <div class="boxS">
                    <div class="leftSS">
                        @for (int i = 0; i < (Model.FirstOrDefault().prexCond.Count / 2); i++)
                        {   <div>
                                <input id="prexCond" type="checkbox" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                            <span style="font-weight:500;color: #3e5667">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                        </div>
                        }
                    </div>
                    <div class="leftSS">
                        @for (int i = (Model.FirstOrDefault().prexCond.Count / 2) + 1; i < Model.FirstOrDefault().prexCond.Count; i++)
                        {   <div>
                                <input id="prexCond" type="checkbox" name="prexCond" value="@Model.FirstOrDefault().prexCond.ElementAt(i).abbr" style="font-weight:500" />
                            <span style="font-weight: 500;color: #3e5667">@Model.FirstOrDefault().prexCond.ElementAt(i).condition</span>
                        </div>
                        }
                        <div>
                            <input id="prexCond" type="checkbox" name="prexCond" value="NOOPC" style="font-weight:500" />
                            <span style="font-weight: 500;color: #3e5667">No tengo condiciones</span>
                        </div>
                        <div>
                            <input id="prexCond" type="checkbox" name="prexCond" value="" checked hidden />
                        </div>
                        <br />
                        <br />
                    </div>
                </div>


            </div>
            <br />
            <!-- Submit button for the form -> (calls ActionResult EndoriskResult() in EndoriskCalculatorController)-->

            <div class="form-group">
                <div class="center" style="clear:both;">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="submitted" type="submit" value="Calcular Riesgo"
                                class="btn btn-default" @*disabled="disabled"*@ />

                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
            {
    @Scripts.Render("~/bundles/jqueryval")

    @**@
    <script type="text/javascript">

        $('submitted').on('click', function () {
            $("div.page").showLoading();
        });
       /*function loading() {
            $(".se-pre-con").fadeOut("slow");;
        };*/

        document.getElementById('SM').onchange = function () {
            var value = this.options[this.selectedIndex].value;     

            if (value == "No") {
                document.getElementById('q-YS').style.display = 'none';
                document.getElementById('q-CI').style.display = 'none';
                
                document.getElementById('YS').setAttribute('value', 0);
                document.getElementById('YS').style.display = 'none'; 
                document.getElementById('CI').setAttribute('value', 0);
                document.getElementById('CI').style.display = 'none';             
            }
            else {
                document.getElementById('q-YS').style.display = 'block';
                document.getElementById('q-CI').style.display = 'block';          
                document.getElementById('YS').style.display = 'inline';             
                document.getElementById('CI').style.display = 'inline'; 
             
            }
        };

        document.getElementById('PGP').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No" || value == "No Aplica") {

                document.getElementById('q-IT').style.display = 'none';
                document.getElementById('IT').setAttribute('value', 'No');
                document.getElementById('IT').style.display = 'none'; // hide element1
                          
            }
            else {
                document.getElementById('q-IT').style.display = 'block';   
                document.getElementById('IT').style.display = 'inline'; // hide element1            

            }
        };

        $('#TP').on('input', function () {
            var value = $('#TP').val();

            if (value == 0) {
                document.getElementById('q-PA').style.display = 'none';
                document.getElementById('PA').setAttribute('value', 0);
                document.getElementById('PA').style.display = 'none';
                document.getElementById('q-SA').style.display = 'none';
                document.getElementById('SA').setAttribute('value', 'No');
                document.getElementById('SA').style.display = 'none';
                document.getElementById('q-NA').style.display = 'none';
                document.getElementById('NA').setAttribute('value', 0);
                document.getElementById('NA').style.display = 'none'; 

            }
            else {
                document.getElementById('q-PA').style.display = 'block';
                document.getElementById('PA').style.display = 'inline';
                document.getElementById('PA').setAttribute('value', '');
                document.getElementById('q-SA').style.display = 'block';
                document.getElementById('SA').style.display = 'inline';
                document.getElementById('SA').setAttribute('value', '');
                document.getElementById('q-NA').style.display = 'block';
                document.getElementById('NA').style.display = 'inline';
                document.getElementById('NA').setAttribute('value', '');

            }
        });

        document.getElementById('SA').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No" || value == "No Aplica") {

                document.getElementById('q-NA').style.display = 'none';
                document.getElementById('NA').setAttribute('value', 'No');
                document.getElementById('NA').style.display = 'none'; 

            }
            else {
                document.getElementById('q-NA').style.display = 'block';
                document.getElementById('NA').style.display = 'inline';             

            }
        };

        document.getElementById('SI').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No" || value == "No Aplica") {

                document.getElementById('q-SIA').style.display = 'none';
                document.getElementById('SIA').setAttribute('value', 'No Aplica');
                document.getElementById('SIA').style.display = 'none';

            }
            else {
                document.getElementById('q-SIA').style.display = 'block';
                document.getElementById('SIA').style.display = 'inline';

            }
        };

        document.getElementById('ED').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value == "No" || value == "No Aplica") {

                document.getElementById('q-SU').style.display = 'none';
                document.getElementById('SU').setAttribute('value', 'Leve');
                document.getElementById('SU').style.display = 'none';

                document.getElementById('q-SE').style.display = 'none';
                document.getElementById('SE').setAttribute('value', 'No Aplica');
                document.getElementById('SE').style.display = 'none';

                document.getElementById('q-ETR').style.display = 'none';
                document.getElementById('ETR').setAttribute('value', 'No Aplica');
                document.getElementById('ETR').style.display = 'none';

                document.getElementById('q-OETR').style.display = 'none';
                document.getElementById('OETR').setAttribute('value', 'No aplica');
                document.getElementById('OETR').style.display = 'none';

            }
            else {
                document.getElementById('q-SU').style.display = 'block';
                document.getElementById('SU').style.display = 'inline';
                document.getElementById('SU').setAttribute('value', '');

                document.getElementById('q-SE').style.display = 'block';
                document.getElementById('SE').style.display = 'inline';
                document.getElementById('SE').setAttribute('value', '');

                document.getElementById('q-ETR').style.display = 'block';
                document.getElementById('ETR').style.display = 'inline';
                document.getElementById('ETR').setAttribute('value', '');

                document.getElementById('q-OETR').style.display = 'block';
                document.getElementById('OETR').style.display = 'inline';
                document.getElementById('OETR').setAttribute('value', '');

            }
        };

        document.getElementById('ETR').onchange = function () {
            var value = this.options[this.selectedIndex].value;

            if (value != "Otro" ) {
                document.getElementById('q-OETR').style.display = 'none';
                document.getElementById('OETR').setAttribute('value', 'No Aplica');
                document.getElementById('OETR').style.display = 'none';
            }
            else {
                document.getElementById('q-OETR').style.display = 'block';
                document.getElementById('OETR').style.display = 'inline';
                document.getElementById('OETR').setAttribute('value', '');

            }
        };
  

</script>


    <style type="text/css">
        label.accept_terms {
            display: block;
            padding-left: 15px;
            text-indent: -15px;
            float: right;
            bottom: -10px;
        }

        input.accept_terms {
            width: 13px;
            height: 20px;
            padding: 0;
            margin: 0 2px 0 0;
            vertical-align: bottom;
            top: -1px;
            *overflow: hidden;
            text-align: right;
            margin-right: 7px;
            float: none;
            bottom: -10px;
        }

        p.inicio_preguntas {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            bottom: -10px;
            /*line-height: 50px;*/
        }

        .campo_requerido {
            color: #b200ff;
            font-weight: 900;
            font-size: 1em;
            top: 300px;
        }
    </style>


}






