@model IEnumerable<EndoRiskWeb.Models.questionsRome>

@{
    ViewBag.Title = "Cuestionarios de Rome 3";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

<!-- Start the form (POST) to use in the Risk Method-->
@using (Html.BeginForm("RomeAnswers", "RomeQuestionnaire", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            @if (Model.Count() == 0)
            {
                <h3>@ViewBag.Message</h3>
            }

            else
            {
                <!--
                    Goes through every item in the Model : questionsRome
                    question includes: ID, Question, Choices Set Name, and the List of Choices
                -->
                foreach (var item in Model)
                {
                    <!--Displays the question -->
                    <p>@Html.DisplayFor(model => item.questionRome)</p> <!--Displays the question -->

                    <div class="col-md-10">
                        <!--Display the choices for the question in a select-->
                        <!-- Value will be the selected choice = element(i)-->
                        <select name="@item.questionID">

                            <option selected>N/A</option> <!--Default empty choice: N/A-->
                            @for (var i = 0; i < item.choices.Count; i++)
                            {
                                <option>@item.choices.ElementAt(i)</option>
                            }
                        </select>
                    </div>
                }

                <!-- Submit button for the form -> Value : Risk (calls ActionResult RomeAnswers() in Home Controller)-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Obtener Diagnóstico" class="btn btn-default" />
                    </div>
                </div>
            }

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

