

@{
    ViewBag.Title = "RomePassword";
    ViewBag.Error = "";
    
}

<h2 class="center">Nivel de Severidad y Cuestionarios de Rome III</h2><br />
<div class="detailWrap">

    @using (Html.BeginForm("RomePasswordApproval", "RomeQuestionnaire", new { quizNum = ViewData["quiz"], patientNum = ViewData["paciente"], err = "" }, FormMethod.Post))
    {
        
        <p style="color:crimson;font-size:1.2em"><strong>@ViewData["errorMessage"]</strong></p>
        <div class="form-group">
            <p id="quiz" value="@ViewData["quiz"]" style="font-size:1.2em"><strong>Quiz: </strong>@ViewData["quiz"]</p>
            <p id="paciente" value="@ViewData["paciente"]" style="font-size:1.2em"><strong>Paciente: </strong>@ViewData["paciente"]</p>
            @Html.Label("Contraseña")
            <input name="romePassword" type="password" value="" autocomplete="off" required/>
        </div>   

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="center">
                    <input type="submit" value="Someter" />
                  </div>
            </div>
        </div>

        <br />

        <p class="center">@ViewBag.Error</p>
    }
</div>
