@model EndoRiskWeb.Models.LocalPasswordModel

<p>
    Cambio de contraseña
</p>

@using (Html.BeginForm("Manage", "admnistrators")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPasswordChange)
                @Html.PasswordFor(m => m.ConfirmPasswordChange)
            </li>
        </ol>
        <input type="submit" value="Cambiar contraseña" />
    </fieldset>
}
