@model EndoRiskWeb.Models.administrator

@{
    ViewBag.Title = "Eliminar";
}

<h2 class="center">Eliminar Administrador</h2>

@*<div class="returnAdminHome"> @Html.ActionLink("Volver a menu principal de administrador", "Admin", "administrators")</div>*@


<h3 class="center">¿Seguro que desea eliminar este administrador?</h3>
<br />
<div class="detailWrap">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>@Html.DisplayFor(model => model.email)</dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.password): @Html.DisplayFor(model => model.password)
            </dt>*@

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

            <dd>@Html.DisplayFor(model => model.firstname)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
            <dd>@Html.DisplayFor(model => model.lastname)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.subadmin)
        </dt>
        @if (Model.subadmin == 1)
        {
            <dd>Si</dd>
        }
        else
        {
            <dd>No</dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="center">
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>

        </div>
    }
    <p class="center">@Html.ActionLink("Volver a la lista", "Index", "administrators")</p>
</div>



@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    @*<style>
            div.returnAdminHome {
                width: 13px;
                height: 17px;
                padding: 0;
                margin: 0;
                vertical-align: bottom;
                position: center;
                top: -1px;
                *overflow: hidden;
                text-align: right;
                margin-right: 7px;
                float: none;
                bottom: -10px;
            }
        </style>*@
}
