@model EndoRiskWeb.Models.LoginModel

@{
    ViewBag.Title = "Iniciar Sesión";
    ViewBag.Message = "Ingrese sus credenciales para iniciar sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>*@

@*<section id="loginForm">*@
@*<h2>Iniciar Sesión.</h2>*@

@*@if(){}
    @Html.LabelFor(admin => admin.subadmin new { @class = "checkbox" })*@
@*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))*@



@using (Html.BeginForm("Login", "administrators", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <section><h2 class="center">@ViewBag.Message</h2></section>
    <br />
    <div class="smallWrap">
        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(admin => admin.email)
                    @Html.TextBoxFor(admin => admin.email)
                    @Html.ValidationMessageFor(admin => admin.email)
                </li>

                <li>
                    @Html.LabelFor(admin => admin.Password)
                    @Html.PasswordFor(admin => admin.Password)
                    @Html.ValidationMessageFor(admin => admin.Password)
                </li>

                @*<li>
                        @Html.CheckBoxFor(admin => admin.RememberMe)
                        @Html.LabelFor(admin => admin.RememberMe, new { @class = "checkbox" })
                    </li>*@

                @*-------PONER UN CAMPO DE ISSUBADMIN EN EL ADMINISTRATOR MODEL*@
                @*<li>
                        @Html.CheckBoxFor(admin => admin.subadmin)
                        @Html.LabelFor(admin => admin.subadmin, new { @class = "checkbox" })
                    </li>*@
            </ol>
            <div class="center">
            <input type="submit" value="Iniciar Sesión" />
            </div>
        </fieldset>
        <br />
        <div class="center">
            @Html.ActionLink("Olvidé mi contraseña", "RecoverPassword","administrators") |
            @Html.ActionLink("Volver al Inicio", "EndoriskQuestions", "EndoriskCalculator")
        </div>

    </div>
}
@*</section>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
