@model EndoRiskWeb.Models.LocalPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    ViewBag.Error = "El usuario no existe en el sistema. Por favor ingrese su correo electrónico correctamente.";
}

<h2 class="center">Nueva Contraseña</h2><br />
<div class="detailWrap">

    @using (Html.BeginForm("ResetPassword", "administrators", FormMethod.Post))
    {    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <fieldset>
               @*@Html.DisplayNameFor(email => email.userEmail)*@              
               @Html.DisplayFor(email => ViewData["email"]) <br />            
               <input type="text" name="userEmail" value="@ViewData["email"]"/>
            
                @Html.LabelFor(currentPassword => currentPassword.OldPassword)
                @Html.TextBoxFor(currentPassword => currentPassword.OldPassword)
                @Html.ValidationMessageFor(currentPassword => currentPassword.OldPassword)            

            
                @Html.LabelFor(newPassword => newPassword.NewPassword)
                @Html.PasswordFor(newPassword => newPassword.NewPassword)
                @Html.ValidationMessageFor(newPassword => newPassword.NewPassword)            
            
            
                @Html.LabelFor(confirmPassword => confirmPassword.ConfirmPasswordChange)
                @Html.PasswordFor(confirmPassword => confirmPassword.ConfirmPasswordChange)
                @Html.ValidationMessageFor(confirmPassword => confirmPassword.ConfirmPasswordChange)
                          
        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="center">
                            <input type="submit" value="Someter" />
                        </div>
                    </div>
                </div>

                <br />

            </fieldset>

        @*<p class="center">@ViewBag.Error</p>*@
    }
</div>
