@model EndoRiskWeb.Models.comment

@{
    ViewBag.Title = "Borrar Comentatio";
}

<h2 class="center">@ViewBag.Title</h2>

<h3 class="center">¿Seguro que desea borrar el comentario?</h3>
<br />
<div class="detailWrap">
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    <div class="center">
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" />
        </div>
    </div>
    }
    <p class="center"> @Html.ActionLink("Volver a la lista", "ViewComments","Comments")</p>
</div>
