@model EndoRiskWeb.Models.comment

@{
    ViewBag.Title = "Detalles";
}

<h2 class="center">@ViewBag.Title</h2>
<br />

<div>
    
    <div class="detailWrap">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.time)
            </dd>

        </dl>
        <p class="center">
            @Html.ActionLink("Regresar a Comentarios", "ViewComments", "Comments")
        </p>
    </div>
</div>

