@model EndoRiskWeb.Models.endoquestion

@{
    ViewBag.Title = "Delete";
}

<h2 class="center">Eliminar Pregunta</h2>

<h3 class="center">¿Seguro que desea eliminar esta pregunta?</h3>
<br />
<div class="detailWrap">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.endoQuestion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endoQuestion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.choiceSet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.choiceSet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="center">
                    <input type="submit" value="Eliminar Pregunta" class="btn btn-default" />
                </div>    
            </div>
            }
    <br />
        <div class="center">
                @Html.ActionLink("Volver a las preguntas", "Index", "endoquestions")
             </div>
    
 </div>
